.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;

    &--primary{
        color: white; 
        background-color: #4F2AC3;
    }

    @media (max-width:640px){
        display: flex;
        width: 100%;
        
    }

    @media (max-width:1024px){
        display: flex;
        align-items: center;
    }
}